<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Knowledge Quiz{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Your navigation menu here -->
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        Django! Knowledge Quiz App
                    </h1>
                </div>
                <div class="jumbotron">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container">
            <!-- Your footer content here -->
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
