{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}
<form method="post" action="{% url 'quiz_result' %}">
    {% csrf_token %}
    {% for question in questions %}
        <h4>{{ question.question_text }}</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <input type="radio" name="question_{{ question.id }}" value="1" required>
                {{ question.choice1 }}
            </li>
            <li class="list-group-item">
                <input type="radio" name="question_{{ question.id }}" value="2" required>
                {{ question.choice2 }}
            </li>
            <li class="list-group-item">
                <input type="radio" name="question_{{ question.id }}" value="3" required>
                {{ question.choice3 }}
            </li>
            <li class="list-group-item">
                <input type="radio" name="question_{{ question.id }}" value="4" required>
                {{ question.choice4 }}
            </li>
        </ul>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
